@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.title__link, .title-arrow, .footer .section-socials, .footer .section-contacts, .footer, .main .section-info, .main .card__supheader, .main .card, .main .cards, .main .article__content, .main .article, .header .nav .menu, .header__logo, .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html,
body {
  font-family: "Lato";
  font-size: 16px;
  color: #565656;
}

.header {
  position: relative;
  padding: 40px calc(50% - 585px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .nav__burger {
  display: none;
}
@media (max-width: 768px) {
  .header .nav__burger:checked ~ .menu {
    right: 0;
  }
  .header .nav__burger:checked ~ .nav__burger-img {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .nav__burger:checked ~ .nav__burger-img::before {
    visibility: hidden;
  }
  .header .nav__burger:checked ~ .nav__burger-img::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
}
.header .nav__burger-img {
  display: none;
}
@media (max-width: 768px) {
  .header .nav__burger-img {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 3px;
    background: #000;
    top: 0;
    right: -25vw;
    vertical-align: middle;
  }
  .header .nav__burger-img::before, .header .nav__burger-img::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #000;
    top: 8px;
  }
  .header .nav__burger-img::after {
    top: -8px;
  }
  .header .nav__burger-img:hover {
    cursor: pointer;
  }
}
.header .nav .menu {
  gap: 40px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media (max-width: 768px) {
  .header .nav .menu {
    position: absolute;
    right: -100%;
    top: 100px;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    z-index: 1;
    background: #ad2f2f;
  }
}
.header .nav .menu__item {
  position: relative;
}
@media (max-width: 768px) {
  .header .nav .menu__item {
    padding: 20px 10px;
    text-align: center;
  }
}
.header .nav .menu__link {
  font-family: "Lato";
  font-size: 0.875rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header .nav .menu__link:hover {
  cursor: pointer;
}
.header .nav .menu__link:hover::after {
  content: "";
  position: absolute;
  width: 72%;
  height: 1px;
  background: #000;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__btn {
  background: url("../source/img/header/search.png") no-repeat center;
  width: 42px;
  height: 42px;
}
.header__title .banner {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 0;
  width: 100vw;
}

.main {
  padding: 40px calc(50% - 585px);
}
.main .article {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  margin-bottom: 0;
}
.main .article__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 85px 120px 85px;
}
.main .cards {
  gap: 30px;
}
.main .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
  height: 500px;
  gap: 25px;
}
.main .card-big {
  gap: 33px;
}
.main .card__supheader {
  font-family: "Lato";
  font-size: 0.75rem;
  font-weight: 400;
  color: #565656;
  margin-bottom: 0;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: 100%;
}
.main .btn {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 90px auto;
  background: #565656;
  padding: 10px 45px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #565656;
}
.main .btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  background: #fff;
  color: #000;
}
.main .arrow__btn {
  width: 30px;
  height: 10px;
  background: url("../source/img/main/arrow1.png") no-repeat center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.main .arrow__btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.main .section-info {
  margin-bottom: 90px;
}
.main .section-info .info__title {
  max-width: 450px;
  font-family: "Red Hat Display";
  font-size: 1.43rem;
  font-weight: 500;
  color: #565656;
  margin-bottom: 20px;
}
.main .section-info .info__text {
  max-width: 470px;
  font-size: 1.1875rem;
}
.main .section-info .info__text > p {
  margin-bottom: 30px;
}

.footer {
  max-width: 1070px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.footer .section-contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .copyright__text {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.footer .section-socials {
  gap: 10px;
  width: 250px;
  height: 42px;
}
.footer .section-socials .socials__svg {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  background: #fff;
  fill: #565656;
}
.footer .section-socials .socials__svg:hover {
  fill: #fff;
  background: #565656;
  cursor: pointer;
}

.title {
  line-height: 38.18px;
}
.title-main {
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  max-width: 770px;
  margin-top: 100px;
  margin-bottom: 50%;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  .title-main {
    font-size: 2.25rem;
    margin-top: 40px;
  }
}
@media (max-width: 340px) {
  .title-main {
    font-size: 1.875rem;
    margin-top: 20px;
  }
}
.title-section {
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 100px 0 50px 0;
}
.title-article {
  font-family: "Red Hat Display";
  font-size: 1.43rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 50px;
}
.title-sub {
  margin: 15px 0 50px 0;
}
.title-card {
  font-family: "Red Hat Display";
  font-size: 1.43rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}
.title-arrow {
  font-family: "Red Hat Display";
  font-size: 1.75rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 50px;
  width: 100%;
  margin-top: 90px;
}
.title__link {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  margin-bottom: 0;
}
.title__link > img {
  margin-left: 10px;
}