@mixin createLine {
    content: '';
    position: absolute;
    width: 72%;
    height: 1px;
    background: #000;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

@mixin setFontStyle ($family, $size, $weight, $color, $margin) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color:$color;
    margin-bottom: $margin;
}

@mixin mediaQueries {
        @media (max-width: 1200px) {
            padding: 40px calc(50% - 960px/2);
        }
        @media (max-width: 768px) {
            padding: 10px 35px;
        }
        @media (max-width: 320px) {
            padding: 5px 10px;
        }
    
}