@import 'reset', 'temps', 'vars', 'fonts', 'mixins', 'keyframes';

html,
body {
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: $main-text-color-secondary;
}

.header {
    @extend %flexCenter;
    @include mediaQueriesSize();
    padding: 40px calc(50% - $content-width/2);
    position: relative;
    flex-wrap: wrap;

    &__logo {
        @extend %flexCenter;
    }

    .nav {
        &__burger {
            @include mediaQueriesBurgerButton;
            display: none;
        }

        &__burger-img {
            @include mediaQueriesBurger;
            display: none;
        }

        .menu {
            @include mediaQueriesBurgerMenu;
            @extend %flexCenter;
            gap: 40px;
            transition: all 0.6s;


            &__item {
                position: relative;

                @media (max-width: 992px) {
                    padding: 20px 10px;
                    text-align: center;
                }

            }

            &__link {
                @include setFontStyle ('Lato', 0.875rem, 400, #000, 0);
                letter-spacing: 0.3rem;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;

                    &::after {
                        @include createLine;
                    }
                }

                @media (max-width: 992px) {
                    &:hover {
                        cursor: pointer;
                        color: #530003;

                        &::after {
                            @include createLine;
                            bottom: 5px;
                        }
                    }
                }

            }
        }
    }

    &__btn {
        background: url('../source/img/header/search.png') no-repeat center;
        width: 42px;
        height: 42px;
    }

    &__title {
        .banner {
            position: absolute;
            z-index: -1;
            top: 100px;
            left: 0;
            height: 33vh;
            min-height: 600px;
            width: 100%;

            @media (max-width: 992px) {
                width: 100%;
                min-height: 576px;
            }

            @media (max-width: 320px) {
                width: 100%;
                min-height: 500px;
            }
        }

    }
}

.main {
    @include mediaQueriesSize();
    padding: 150px calc(50% - $content-width/2);

    .article {
        @include setFontStyle ('Lato', 16px, 400, $main-text-color-secondary, 0);
        @extend %flexCenter;
        margin-bottom: 40px;

        @media (max-width: 576px) {
            flex-direction: column;
        }

        &__content {
            @extend %flexCenter;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px 85px 120px 85px;

            @media (max-width: 1200px) {
                padding: 10px 30px 20px 20px;
            }

            @media (max-width: 992px) {
                padding: 0 20px;
            }

            @media (max-width: 576px) {
                padding: 10px 10px;
            }
        }

        &__img {
            @media (max-width: 576px) {
                order: 1;
            }
        }
    }

    .cards {
        @extend %flexCenter;
        gap: 30px;

        @media (max-width: 400px) {
            gap: 5px;
        }

        &-triple {
            @media (max-width: 992px) {
                flex-direction: column;
            }

            & .card {
                @media (max-width: 992px) {
                    flex-direction: row;
                    margin-bottom: 0;

                    &:nth-of-type(2n) .card__img {
                        order: 1;
                    }
                }

                @media (max-width: 576px) {
                    flex-wrap: wrap;

                    &:nth-of-type(2n) .card__img {
                        order: 0;
                    }
                }
            }
        }

        &-big {
            align-items: baseline;
            @media (max-width: 992px) {
                flex-wrap: wrap;
                gap: 10px;
                height: 100%;
            }
        }

    }

    .card {
        @extend %flexCenter;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 100px;
        max-width: 370px;
        height: 500px;
        gap: 25px;

        @media (max-width: 992px) {
            padding-bottom: 20px;
            min-height: 100%;
        }

        @media (max-width: 400px) {
            padding-bottom: 15px;
            gap: 2px;
        }


        &__supheader {
            @extend %flexCenter;
            @include setFontStyle('Lato', 0.75rem, 400, $main-text-color-secondary, 0);
            align-items: initial;
            width: 100%;
        }
    }

    .btn {
        @include setFontStyle('Lato', 16px, 700, #fff, 90px);
        display: flex;
        margin: 50px auto 90px auto;
        background: #565656;
        padding: 10px 45px;
        transition: all 0.3s ease;
        border: 1px solid #565656;

        &:hover {
            transform: scale(1.2);
            background: #fff;
            color: #000;
        }
    }

    .arrow__btn {
        width: 30px;
        height: 10px;
        background: url('../source/img/main/arrow1.png') no-repeat center;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .section {
        &.section-info {
            @extend %flexCenter;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .info__title {
                max-width: 450px;
                @include setFontStyle ('Red Hat Display', 1.43rem, 500, $main-text-color-secondary, 20px);

                @media (max-width: 992px) {
                    align-self: flex-start;
                    text-align: left;
                }
            }

            .info__text {
                max-width: 470px;
                font-size: 1.1875rem;

                @media (max-width: 992px) {
                    align-self: flex-end;
                    text-align: end;
                }

                @media (max-width: 320px) {
                    text-align: center;
                }

                &>p {
                    margin-bottom: 30px;
                }
            }
        }

        &.section-double {
            @media (max-width: 992px) {
                flex-direction: column;
            }
        }

    }

    .text {
        @media (max-width: 576px) {
            padding: 10px;
        }
    }

}

.footer {
    @extend %flexCenter;
    @include mediaQueriesSize();
    flex-wrap: wrap;
    padding: 0 calc(50% - $content-width/2);

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    @media (max-width: 576px) {
        text-align: center;
    }

    & .section-contacts {
        @extend %flexCenter;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        @media (max-width: 576px) {
            gap: 25px;
            align-items: center;
        }
    }

    & .copyright__text {
        @include setFontStyle('Lato', 12px, 400, #000, 15px);
        align-items: center;
        width: 100%;
        margin-top: 20px;
        text-align: center
    }

    .section-socials {
        @extend %flexCenter;
        gap: 10px;
        width: 250px;
        height: 42px;

        & .socials__svg {
            width: 50px;
            height: 50px;
            border: 1px solid #565656;
            background: #fff;
            fill: #565656;
            transition: all 0.3s ease;

            &:hover {
                fill: #fff;
                background: #565656;
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        @media (max-width: 576px) {
            margin-bottom: 40px;
        }
    }

}

.title {
    line-height: 38.18px;

    @media (max-width: 600px) {
        line-height: 1;
    }

    &-main {
        @include setFontStyle ('Red Hat Display', 3rem, 600, #000, 0);
        max-width: 770px;
        margin-top: 100px;
        margin-bottom: 35%;
        position: relative;
        width: 100%;

        @media (max-width: 992px) {
            font-size: 2.25rem;
            margin-top: 50px;
            margin-bottom: 55%;
        }

        @media (max-width: 576px) {
            font-size: 1.875rem;
            margin-bottom: 130%;
        }
    }

    &-section {
        @include setFontStyle ('Red Hat Display', 3rem, 400, #000, 50px);
        align-self: flex-start;
        margin: 100px 0 50px 0;

        @media (max-width: 992px) {
            font-size: 2.25rem;
            margin-top: 20px;
        }

        @media (max-width: 340px) {
            font-size: 1.875rem;
            text-align: center;
            margin: 50px 0 30px 0;
        }
    }

    &-article {
        @include setFontStyle ('Red Hat Display', 1.43rem, 500, #000, 50px);

        @media (max-width: 1200px) {
            margin: 5px 0 10px;
        }

        @media (max-width: 992px) {
            margin: 0 0 5px 0;
        }
    }

    &-sub {
        margin: 15px 0 50px 0;

        @media (max-width: 1200px) {
            margin: 5px 0 10px;
        }

        @media (max-width: 992px) {
            margin: 0;
            line-height: 1;
        }
    }

    &-card {
        @include setFontStyle ('Red Hat Display', 1.43rem, 500, #000, 20px);
    }

    &-arrow {
        @extend %flexCenter;
        @include setFontStyle ('Red Hat Display', 1.75rem, 600, #000, 50px);
        width: 100%;
        margin-top: 90px;

        @media (max-width: 992px) {
            margin: 20px 0;
            flex-wrap: wrap;
        }
    }

    &__link {
        @extend %flexCenter;
        @include setFontStyle($main-text-font, $main-text-size, 400, $main-text-color-secondary, 0);

        &>img {
            margin-left: 10px
        }
    }
}

.img {
    &-normal {
        width: 570px;
        height: 470px;

        @media (max-width: 992px) {
            width: 340px;
            min-height: 280px;
        }

        @media (max-width: 400px) {
            width: 100%;
            min-height: 250px;
        }
    }

    &-triple {
        width: 370px;
        min-height: 260px;

        @media (max-width: 992px) {
            width: 340px;
            min-height: 240px;
        }

        @media (max-width: 400px) {
            width: 100%;
            min-height: 210px;
        }
    }

    &-wide {
        width: 570px;
        min-height: 260px;

        @media (max-width: 992px) {
            width: 340px;
            min-height: 160px;
        }

        @media (max-width: 400px) {
            width: 100%;
            min-height: 150px;
        }
    }
}