@import 'reset', 'temps', 'vars', 'fonts', 'mixins';

html,
body {
    font-family: $main-text-font;
    font-size: $main-text-size;
    color: $main-text-color-secondary;
}

.header {
    @extend %flexCenter;
    position: relative;
    padding: 40px calc(50% - $content-width/2);
    flex-wrap: wrap;

    &__logo {
        @extend %flexCenter;
    }


    .nav {
        &__burger {
            display: none;

            @media (max-width: 768px) {
                &:checked~.menu {
                    right: 0;
                }

                &:checked~.nav__burger-img {
                    transform: rotate(45deg);

                    &::before {
                        visibility: hidden;
                    }

                    &::after {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }

        &__burger-img {
            display: none;

            @media (max-width: 768px) {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 3px;
                background: #000;
                top: 0;
                right: -25vw;
                vertical-align: middle;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background: #000;
                    top: 8px;

                }

                &::after {
                    top: -8px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .menu {
            @extend %flexCenter;
            gap: 40px;
            transition: all 0.6s;

            @media (max-width: 768px) {
                position: absolute;
                right: -100%;
                top: 100px;
                width: 50%;
                // min-width: 300px;
                flex-direction: column;
                gap: 15px;
                z-index: 1;
                background: #ad2f2f;
            }

            &__item {
                position: relative;

                @media (max-width: 768px) {
                    padding: 20px 10px;
                    text-align: center;

                }

            }

            &__link {
                @include setFontStyle ('Lato', 0.875rem, 400, #000, 0);
                letter-spacing: 0.3rem;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;

                    &::after {
                        @include createLine;
                    }
                }

            }
        }
    }


    &__btn {
        background: url('../source/img/header/search.png') no-repeat center;
        width: 42px;
        height: 42px;
    }

    &__title {
        .banner {
            position: absolute;
            z-index: -1;
            top: 100px;
            left: 0;
            width: 100vw;
        }
    }
}

.main {
    padding: 40px calc(50% - $content-width/2);

    .article {
        @include setFontStyle ('Lato', 16px, 400, $main-text-color-secondary, 0);
        @extend %flexCenter;

        &__content {
            @extend %flexCenter;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px 85px 120px 85px;
        }
    }

    .cards {
        @extend %flexCenter;
        gap: 30px;
    }

    .card {
        @extend %flexCenter;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 60px;
        height: 500px;
        gap: 25px;

        &-big {
            gap: 33px;
        }

        &__supheader {
            @extend %flexCenter;
            @include setFontStyle('Lato', 0.75rem, 400, $main-text-color-secondary, 0);
            align-items: initial;
            width: 100%;
        }
    }

    .btn {
        @include setFontStyle('Lato', 16px, 700, #fff, 90px);
        display: flex;
        margin: 50px auto 90px auto;
        background: #565656;
        padding: 10px 45px;
        transition: all 0.3s ease;
        border: 1px solid #565656;

        &:hover {
            transform: scale(1.2);
            background: #fff;
            color: #000;
        }
    }

    .arrow__btn {
        width: 30px;
        height: 10px;
        background: url('../source/img/main/arrow1.png') no-repeat center;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .section-info {
        @extend %flexCenter;
        margin-bottom: 90px;

        .info__title {
            max-width: 450px;
            @include setFontStyle ('Red Hat Display', 1.43rem, 500, $main-text-color-secondary, 20px);
        }

        .info__text {
            max-width: 470px;
            font-size: 1.1875rem;

            &>p {
                margin-bottom: 30px;
            }
        }
    }
}

.footer {
    @extend %flexCenter;
    max-width: 1070px;
    flex-wrap: wrap;
    margin: 0 auto;

    & .section-contacts {
        @extend %flexCenter;
        flex-direction: column;
        align-items: flex-start;
    }

    & .copyright__text {
        @include setFontStyle('Lato', 12px, 400, #000, 15px);
        align-items: center;
        width: 100%;
        margin-top: 20px;
        text-align: center
    }

    .section-socials {
        @extend %flexCenter;
        gap: 10px;
        width: 250px;
        height: 42px;

        & .socials__svg {
            width: 50px;
            height: 50px;
            border: 1px solid #565656;
            background: #fff;
            fill: #565656;

            &:hover {
                fill: #fff;
                background: #565656;
                cursor: pointer;
            }
        }
    }

}

.title {
    line-height: 38.18px;

    &-main {
        @include setFontStyle ('Red Hat Display', 3rem, 600, #000, 0);
        max-width: 770px;
        margin-top: 100px;
        margin-bottom: 50%;
        position: relative;
        width: 100%;

        @media (max-width: 768px) {
            font-size: 2.25rem;
            margin-top: 40px;
        }

        @media (max-width: 340px) {
            font-size: 1.875rem;
            margin-top: 20px;
        }
    }

    &-section {
        @include setFontStyle ('Red Hat Display', 3rem, 400, #000, 50px);
        align-self: flex-start;
        margin: 100px 0 50px 0;
    }

    &-article {
        @include setFontStyle ('Red Hat Display', 1.43rem, 500, #000, 50px);
    }

    &-sub {
        margin: 15px 0 50px 0;
    }

    &-card {
        @include setFontStyle ('Red Hat Display', 1.43rem, 500, #000, 20px);
    }

    &-arrow {
        @extend %flexCenter;
        @include setFontStyle ('Red Hat Display', 1.75rem, 600, #000, 50px);
        width: 100%;
        margin-top: 90px;
    }

    &__link {
        @extend %flexCenter;
        @include setFontStyle($main-text-font, $main-text-size, 400, $main-text-color-secondary, 0);

        &>img {
            margin-left: 10px
        }
    }
}